*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.php-email-form {
    width: 100%;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
}

.php-email-form .form-group {
    padding-bottom: 20px;
}

.php-email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
  
.php-email-form .error-message br+br {
    margin-top: 25px;
}
  
.php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
  
.php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
  
.php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}
  
.php-email-form input,
.php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
  
.php-email-form input:focus,
.php-email-form textarea:focus {
    border-color: var(--color-primary);
}
  
.php-email-form input {
    height: 48px;
}
  
.php-email-form textarea {
    padding: 10px 12px;
}
  
.text-center button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 12px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
  
.text-center button[type=submit]:hover {
    background: #ec2727;
}
  
@keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}